body {
  background-color: #F3EE10;
}

#bobLogo {
  width: 700px;
  height: 150px;
  margin-top: 50px;
  margin-left: 400px;
}

#hangmanTitle {
  margin-top: -10px;
  margin-left: 600px;
  font-family: 'Berkshire Swash', cursive;
  font-size: 40px;
}

#resultTextChange {
  font-family: 'Patrick Hand', cursive;
  text-align: center;
  padding: 0;
  margin-top: 60px;
  margin-left: 220px;
  font-size: 30px;
}

.fullGrid {
  height: 750px;
  width: 450px;
  margin-top: 20px;
  margin-bottom: 100px;
  border: 5px dotted #000;
}

.leftGrid {
  float: left;
  margin-left: 280px;
}

#bobFamily {
  height: 350px;
  width: 260px;
  margin-top: 10px;
  margin-left: 80px;
}

#tinaSad {
  width: 350px;
  margin-left: 50px;
  margin-top: -800px;
  padding-bottom: 100px;
  visibility: hidden;
  z-index: 1;
}

.rightGrid {
  float: left;
  border-left: none;
  margin-left: 5px;
}

.gridText {
  font-family: 'Patrick Hand', cursive;
  text-align: center;
  font-size: 25px;
  line-height: 60px;
}
